<div class="col-md-12">
  <div class="jumbotron">
    <h1>VetCareCloud</h1>
    <p>Manage your vetclinic or hospital inexpensively in the CLOUD!.</p>
    <p><%= link_to "Create Account", new_account_path, class: 'btn btn-primary btn-lg' %></p>
  </div>
</div>